{% extends 'base.html.twig' %}

{% block body %}
    <a class="btn btn-primary" href="{{ path('customers_order', {'order': 'ASC'}) }}" role="button">ASC</a>
    <a class="btn btn-primary" href="{{ path('customers_order', {'order': 'DESC'}) }}" role="button">DESC</a>
    {% if order == 'ASC' or order == 'DESC' %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Birthday</th>
            <th scope="col">Is Young Driver</th>
        </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <th scope="row">{{ customer.id }}</th>
                <td>{{ customer.name }}</td>
                <td>{{ customer.birthDate|date("m/d/Y") }}</td>
                <td>{{ customer.isYoungDriver ? 'Yes' : 'No' }}</td>
                <td><a href="{{ path('customer', {'id': customer.id }) }}" type="button" class="btn btn-light">Info</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        {% else %}
        <h1>Please select order by birthdate of customers</h1>
    {% endif %}

{% endblock %}